body {
	background: rgb(131, 58, 180);
	background: linear-gradient(
		90deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
    );
    margin: 0;
}

.main {
	max-width: 50%;
	margin: 40px auto;
	line-height: 1.6;
	font-size: 20px;
	color: black;
	padding: 0 10px;
	display: block;
	text-align: center;
}

a:hover {
	background-color: yellow;
}

ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: 1px solid white;
}

p {
	border: 3px solid black;
	background: white;
}

h1 {
	background: white;
	border: 3px solid black;
}

#search_bar {
    float: right;
}

#search_bar input{
    height: 42px;
}

#search_button {
    float: right;
}

#search_button input {
    height: 48px;
}

.leftImage {
	position: absolute;
	left: 0px;
	width: 20%;
	top: 40%;
	border: 3px solid white;
}

.rightImage {
	position: absolute;
	right: 0px;
	width: 20%;
	top: 40%;
	border: 3px solid white;
}
