body {
	background: rgb(131, 58, 180);
	background: linear-gradient(
		90deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

.main {
	width: 50%;
	margin: 40px auto;
	line-height: 1.6;
	font-size: 20px;
	color: black;
	padding: 0 10px;
	display: block;
	text-align: center;
}

a:hover {
	background-color: yellow;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0 !important;
	overflow: hidden;
	background-color: #333;
	white-space: nowrap;
	position: relative;
	width: 100%;
}

ul li {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: 1px solid white;
}

p {
	border: 3px solid black;
	background: white;
}

h1 {
	background: white;
	border: 3px solid black;
	max-width: 70%;
	margin: auto;
}

#search_bar {
	right: 57px;
	position: absolute;
}

#search_bar input {
	height: 42px;
	width: 88px;
}

#search_button {
	right: 0px;
	position: absolute;
}

#search_button input {
	height: 48px;
}

.leftImage {
	position: absolute;
	left: 0px;
	width: 20%;
	top: 40%;
	border: 3px solid white;
	margin: 5px;
	display: block;
}

.rightImage {
	position: absolute;
	right: 0px;
	width: 20%;
	top: 40%;
	border: 3px solid white;
	margin: 5px;
	display: block;
}
